<div id="partie_question">
    <div id="conteneur">
        <div id="contenu">
            <form class="question-form" [formGroup]="questionForm">
                <h2 class="titre">
                    <i class="fab fa-leanpub"></i>
                    {{question.label}} &nbsp; <i (click)="editQuestion()" class="fas fa-edit"></i>
                    <input  *ngIf="edit_question" type="text" name="" [formControlName]="'label'" id="">
                    <button *ngIf="edit_question" (click)="validateQuestion()" >Valider</button>
                    <button *ngIf="edit_question" (click)="annulerQuestion()" >Annuler</button>
                </h2>

                <div style="display: flex; justify-content: center; align-content: center;" *ngIf="question.imgUrl">
                    <img [src]="question.imgUrl" width="200" alt=""><br>
                    <input *ngIf="edit_question" style="height: 20px;" type="text" [formControlName]="'imgUrl'" >
                </div>
                
                <div style="display: inline;">
                    <p class="indice">Indice: {{question.indice}} <input *ngIf="edit_question" type="text" [formControlName]="'indice'" > </p> 
                    
                </div>

                <div class="answer" *ngFor="let answer of question.answers; let i=index" >
                    <li>
                        {{answer.value}} <ng-container *ngIf="answer.isCorrect && curStatus === 'admin'"><i class="far fa-check-square" style="color: lime;"></i></ng-container>
                        &nbsp; <i (click)="editAnswer(answer,i)" class="fas fa-edit"></i>
                        <img *ngIf="answer.imageUrl" [src]="answer.imageUrl" width="100" alt="">
                       
                        <form *ngIf="editanswer_i == i" style="display: inline;" [formGroup]="answerForm">
                            <input placeholder="Reponse" type="text" [formControlName]="'value'">
                                <input placeholder="Url de l'image" type="text" [formControlName]="'imageUrl'">
                            Correct: 
                            <input class="correctOrNot" type="checkbox" [formControlName]="'isCorrect'" (click)="isChecked()">
                            <button (click)="validateAnswer(answer)">Valider</button>
                            <button (click)="annulerAnswer()">Annuler</button>
                        </form>
                    </li>
                </div>

                <form *ngIf="_addAnswer" style="display: inline;" [formGroup]="answerForm">
                    <input placeholder="Intitulé de la réponse" type="text" [formControlName]="'value'">
                    <input placeholder="Url de l'image" type="text" [formControlName]="'imageUrl'">
                    Correct: 
                    <input class="correctOrNot" type="checkbox" [formControlName]="'isCorrect'" (click)="isChecked()">
                    <button (click)="createAnswer(answer)">Valider</button>
                    <button (click)="annulerCreateAnswer()">Annuler</button>
                </form>       

                <div id="boutons">
                    <a class="button red" *ngIf="curStatus === 'admin'" (click)="addAnswer()">Ajout de réponses</a>
                    <a class="button red" *ngIf="curStatus === 'admin'" (click)="deleteQuestion()">Delete</a>
                </div>
            </form>
        </div>  
    </div>
</div>

<br><br>{{questionForm.getRawValue() | json}} - {{answerForm.getRawValue() | json}}