<div class="card">
    <h2>
        <i class="fab fa-leanpub"></i>
        {{question.label}}
    </h2>
    <p>Indice: {{question.indice}}</p>
    <div class="answer" *ngFor="let answer of question.answers">
        <span>
            <i class="fab fa-leanpub"></i>
            {{answer.value}} <ng-container *ngIf="answer.isCorrect && curStatus === 'admin'"><i class="far fa-check-square"></i></ng-container> <br>
        </span>
    </div>
    
    <button *ngIf="curStatus === 'admin'" class="button-card" (click)="editQuestion()">Edit</button>
    <button *ngIf="curStatus === 'admin'" class="button-card" (click)="deleteQuestion()">Delete</button>

</div>