#partie_question{
    padding: 2em;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0;
}

.titre{
    text-align: center;
    text-transform: uppercase;
    margin-top: 0em;
    
}

#conteneur{
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    background-color: steelblue;
    border-radius: 0.7em;
    box-sizing: border-box;
    margin-bottom: 1em;
}

#contenu{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

#boutons{
    text-align: right;
}

.indice{
    padding: 0.7em;
    font-size:  1.2em;
    background-color: coral;
    font-weight: bold;
}

.button {
    margin: 0.3em;
    padding: 0.8em 3em;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 3px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
    border: none; 
    font-size: 15px;
    text-align: center;
  }
  
  .button:hover {
    box-shadow: 1px 6px 15px rgba(0,0,0,0.5);
  }
  
  .red {
    background-color: #e74c3c;
    color: white;
  }
  
  .ripple {
    position: absolute;
    background: rgba(0,0,0,.25);
    border-radius: 100%;
    transform: scale(0.2);
    opacity:0;
    pointer-events: none;
    -webkit-animation: ripple .75s ease-out;
    -moz-animation: ripple .75s ease-out;
    animation: ripple .75s ease-out;
  }
  
  @-webkit-keyframes ripple {
    from {
      opacity:1;
    }
    to {
      transform: scale(2);
      opacity: 0;
    }
  }
  
  @-moz-keyframes ripple {
    from {
      opacity:1;
    }
    to {
      transform: scale(2);
      opacity: 0;
    }
  }
  
  @keyframes ripple {
    from {
      opacity:1;
    }
    to {
      transform: scale(2);
      opacity: 0;
    }
  }