<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <app-header></app-header>
        <button *ngIf="router.url != '/'" class="button-card" (click)="back_click()">Back</button><br>
        <div class="main-content">
            <router-outlet></router-outlet> <!-- Cette balise va afficher le component correpondant en fonction du component appeler sur url cf(app.routing.module)-->
        </div>
    </body>
</html>