<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <app-header></app-header>
        <button class="back" *ngIf="router.url != '/'" (click)="back_click()"><i class="fas fa-chevron-left"></i> &nbsp; Retour à la page précédente</button>
        <br>
        <div [@routeAnimations]="o && o.activatedRouteData && o.activatedRouteData['animation']" class="main-content">
            <router-outlet (setStatusSelected)="setStatusSelected($event)" #o="outlet"></router-outlet> <!-- Cette balise va afficher le component correpondant en fonction du component appeler sur url cf(app.routing.module)-->
        </div>
    </body>
</html>