@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');

.main-content {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    //padding: 0 1em 0 1em;
    font-family: "Montserrat";
}


.back{
    padding: 0.9em;
  text-decoration: none;
  border-radius: 10px;
  background-color: #ccc;
  color: #000;
  width: 10%;
  text-shadow: none;
  border: none;
  margin-top: 8px;
  //font-family: 'Roboto Condensed', sans-serif;
}
