<div class="card">
  <h2>Create a new User</h2>
  <form class="user-form" [formGroup]="userForm">
    <label for="nom">
      Nom: <input class="input-custom" type="text" id="name" [formControlName]="'name'">
    </label>
    <label for="prenom">
      *Prenom: <input class="nom" type="text" required id="surname" [formControlName]="'surname'">
    </label>
    <label for="age">
      <br> Age:  <input type="text" name="age" id="age" [formControlName]="'age'">
    </label>
    <br>
    <label for="sexe">Sexe: 
        <input type="radio" id="F" name="sexe" value="F"/> <label for="F"> Feminin</label>
        <input type="radio" id="M" name="sexe" value="M"> <label for="M"> Masculin</label>
    </label>
    <br>

    <label for="description"> Description: <br>
      <textarea style="border:solid 1px;" placeholder="Description" name="description" id="description" cols="80" rows="10"></textarea>
    </label>
    <br>
    <button type="submit" class="button-card" (click)="addUser()">Create</button>
  </form>
</div>
<!-- Uncomment below to see your form structure and how it changes-->
<br><br>{{userForm.getRawValue() | json}}