*{
	margin: 0px;
	padding: 0px;
}

*, :active{
	outline: none!important;
}

body{
	font-family: arial, sans-serif;
	padding: 40px;
	font-size: 100%;
}

.clearfix{
	clear: both;
}

.expandSearch input{
	background-color: #ffffff;
	border: none;
	font-size: 16px;
	padding: 10px 0px 10px 0px;
}


.expandSearch,
.expandSearch input,
.expandSearch a{
	float: left;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.expandSearch{
	border: solid 1px #eeeeee;
}

#partie_search{
	width: 280px;
	margin: auto;
}

.expandSearch input{
	height: 22px;
	overflow: hidden;
	width: 0px;
	opacity: 0;
}

.expandSearch a{
	display: block;
	padding: 12px 15px 8px 15px;
	background-color: #eeeeee;
}

.showSearch input{
	margin-left: 10px;
	margin-right: 10px;
	width: 200px;
	opacity: 1;
}

.showSearch a{
	background-color: #b3d2f2;
}

.showSearch{
	border-color: #b3d2f2;
}