.alert{
  color: white;
  font-weight: bold;
  border: 2px solid; 
  border-radius: 3px;
  margin-bottom: 10px;
}

.alert-dark{
  color: #333;
  font-weight: bold;
  border: 2px solid; 
  border-radius: 3px;
  margin-bottom: 10px;
}