<section class="cards">
    <article class="card">
        <!-- <picture *ngIf="user.img != ''" class="thumbnail">
             <img class="category__02" src="{{user.img}}" alt="" />
        </picture> -->
            <div *ngIf="curStatus === 'admin'" id="conteneur">
                <div id="partie_user_admin">
                    <picture *ngIf="user.img != ''" class="thumbnail">
                        <img class="category__02" src="{{user.img}}" alt="" />
                    </picture>
                    <br>
                    <span style="word-wrap: break-word;"><strong>Identité :</strong> {{user.name}}
                        {{user.surname}}</span>
                    <br>
                    <span style="word-wrap: break-word;"><strong>Sexe :</strong> {{user.sexe}}</span>
                    <br>
                    <span style="word-wrap: break-word;"><strong>Age :</strong> {{user.age}}</span>
                    <br>
                    <span style="word-wrap: break-word;"><strong>Description :</strong> {{user.description}}</span>
                    <br>

                    <div id="buttons">
                        <button class="button" (click)="editUser(user)">Editer</button>
                        <button class="button" (click)="deleteUser(user)">Delete</button>
                        <button class="button" (click)="statistic(user)">Statistique</button>
                    </div>

                </div>

            </div>
            <div *ngIf="curStatus === 'user'" class="user_card" (click)="selectUser(user)">
                <picture (click)="selectUser(user)" *ngIf="user.img != ''" class="thumbnail">
                    <img class="category__02" src="{{user.img}}" alt="" />
                </picture>
                <h2 style="text-align: center;">{{user.name}} {{user.surname}}</h2>
            </div>
    </article>
</section>