.card {
  /*height: 200px;*/
  /*background: red;*/
  border-radius: 4px;
  padding: .5rem;
  color: #5d5e5e;
} /* li item */

img {
  display: block;
  border-radius: 50%;
  border: 0;
  width: 100%;
  height: auto;
}