.card {
  /*height: 200px;*/
  /*background: red;*/
  border-radius: 4px;
  padding: .5rem;
  color: #5d5e5e;
  width: 50%;
  margin-right: 0em;
} /* li item */

img {
  display: block;
  border-radius: 50%;
  border: 0;
  width: 100%;
  height: auto;
}

article{
  margin-right: 0;
}

.cards{
  margin-right: 0;
  display: flex;
  justify-content: center;
}


@media screen and (max-width: 1200px) {
  .cards{
    display: block;
  }

  .card{
    display: block;
  
  }

  h2{
    font-size: 0.7em;
  }
}