.user-list {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  
  margin-left: auto;
  margin-right: auto;
}


#partie_user{
  flex: 1 1 48%;
}


@media screen and (min-width: 800px){
  
 .user-list{
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #ddd;
    border-radius: 2em;
  }

  .user-list{
    width: 70%;
  }

  .user{
    width: 30%;
    padding: 1em;
  }

}

@media screen and (max-width: 1200px) {
  .user{
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  // .user{
  //   width: 100%;
  // }

  .user-list{
    width: 80%;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #ddd;
    border-radius: 2em;
  }
}
