.user-list {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  
  margin-left: auto;
  margin-right: auto;
}


#partie_user{
  flex: 1 1 48%;
}


@media screen and (min-width: 800px){
  

}

@media screen and (max-width: 1200px) {
  .user{
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  // .user{
  //   width: 100%;
  // }

  .user-list{
    width: 80%;
  }
}
