<div class="user-list">
    <section *ngIf="curStatus === 'user'" class="cards user">
        <article class="card">
            <div *ngIf="curStatus === 'user'" class="user_card" (click)="selectUser(user)">
                <picture (click)="userSelected('default')" class="thumbnail">
                    <img class="category__02"
                        src="https://pbs.twimg.com/profile_images/799977947461517312/D0dSS5qF_400x400.jpg" alt="" />
                </picture>
                <h2 style="text-align: center;">Utilisateur anonyme</h2>
            </div>
        </article>
    </section>
    <div class="user" *ngFor="let user of userList">
        <app-user id="element" [user]="user" (userDeleted)="userDeleted($event)" (userStatistic)="userStatistic($event)"
            (EditUser)="userEdited($event)" (userSelected)="userSelected($event)"></app-user>
    </div>
</div>