@import '../../../../styles/search.scss';
@import '../../../../styles/not_elements.scss';

.quiz-list {
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
}

#partie_liste_quiz{
  position: relative;
  z-index: 1;
  background: rgba(0, 255, 255, 0.699);
  max-width: 80%;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 0.7em;
  margin-top: 10px;
}

.blackText{
  color: black;
}

.titreQuiz{
  text-align: center;
}


  .end{
    background-color: #000;
    width: 20px;
  }

  .no-quiz{
    color: #333;
    font-family: "Baloo Thambi 2", cursive;
  }

  @import url(https://fonts.googleapis.com/css?family=Open+Sans);