<div id="partie_liste_quiz" *ngIf="curTheme && quizList.length != 0">
        <h1 class="titreQuiz">Liste des Quiz :  <label style="color: white ;">{{curTheme.name}}</label></h1>
       
        <app-search-bar></app-search-bar>

    <div id="containerListe">
        <div class="list-type2">
            <ul class="quiz-list">
                <li class="quiz" *ngFor="let quiz of quizList | filter:searchQuiz">
                    <app-quiz [quiz]="quiz" (quizSelected)="quizSelected($event)" (quizEdited)="quizEdited($event)" (quizDeleted)="quizDeleted($event)"></app-quiz>
                </li>
                <li class="no-quiz" *ngIf=" searchQuiz && (quizList | filter:searchQuiz).length === 0 && quizList.length != 0">
                    <p>Aucun quiz correspond à vos recherches</p>
                </li>
            </ul>
        </div>
    </div>
</div>

<div style="width: 100%;" *ngIf="quizList.length === 0">
    <h1 style="text-align: center;">Aucun quiz pour l'instant</h1>
</div>