<div id="containerPanel">
    <div id="adminPanel">
        <div class="container">
            <div class="row">
                <!-- card1 -->
                <a (click)="setAdminUser()">
                    <div class="card card-circle">
                        <div class="card-body">
                            <h5 class="card-title">Personnel Santé</h5>
                        </div>
                        <div class="card-icon">
                            <i class="fas fa-user-md"></i>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <!-- card2 -->
                <a (click)="setStdUser()">
                    <div class="card-circle-accueilli">
                        <div class="row">
                            <h5 class="card-title-accueilli">Accueilli</h5>
                            <div class="card-icon-accueilli">
                                <i class="fas fa-user"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

    </div>
</div>