@import '../../styles/card_circle.scss';

/*Here are some sample colors*/
.personnel {
    background-image: url('https://f1.pngfuel.com/png/673/501/92/circle-icon-health-care-medicine-clinic-hospital-physician-symbol-patient-png-clip-art.png');
    background-size: cover ;
    background-repeat: no-repeat;
}
  
  .accueilli {
    background-image: url('https://icons.iconarchive.com/icons/google/noto-emoji-people-face/512/10171-old-man-light-skin-tone-icon.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
  #containerPanel{
    width: 100%;
    position: absolute;
  }

  .circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: inline-block;
    
  }
  
  #struct_circle{
      display: inline-block;
      width: 48%;
  }
  .contenu_circle{
      width: 100%;
      margin-left: auto;
      margin-right: auto;
  }

  .container{
    cursor: pointer;
  }



  // ###############################

  #adminPanel{
    margin-right: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -35%;
    margin-left: 35%;
  }
 
  a{
    text-decoration: none;
  }
