@import '../../../../styles/button.scss';
@import '../../../../styles/validator.scss';


#part_creation_quiz{
    padding: 2em;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0;
}


#container{
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    background-color: rgb(0, 110, 255);;
    border-radius: 0.7em;
}

#content{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.title{
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

.textImage{
  color: white;
  font-size: 20px;
}


form {
    max-width: 600px;
    text-align: center;
    margin: 20px auto;
  }
  form input, form textarea {
    border: 0;
    outline: 0;
    padding: 1em;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    display: block;
    width: 100%;
    margin-top: 1em;
    font-family: 'Merriweather', sans-serif;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    resize: none;
  }

  form input:focus, form textarea:focus {
    -moz-box-shadow: 0 0px 2px #e74c3c !important;
    -webkit-box-shadow: 0 0px 2px #e74c3c !important;
    box-shadow: 0 0px 2px #e74c3c !important;
  }

  .ripple {
    position: absolute;
    background: rgba(0,0,0,.25);
    border-radius: 100%;
    transform: scale(0.2);
    opacity:0;
    pointer-events: none;
    -webkit-animation: ripple .75s ease-out;
    -moz-animation: ripple .75s ease-out;
    animation: ripple .75s ease-out;
  }
  
  @-webkit-keyframes ripple {
    from {
      opacity:1;
    }
    to {
      transform: scale(2);
      opacity: 0;
    }
  }
  
  @-moz-keyframes ripple {
    from {
      opacity:1;
    }
    to {
      transform: scale(2);
      opacity: 0;
    }
  }
  
  @keyframes ripple {
    from {
      opacity:1;
    }
    to {
      transform: scale(2);
      opacity: 0;
    }
  }

  .verificationCreation{
      width: 50%;
      border-radius: 5px;
      background-color: #00FA9A;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
  }

  .input-custom{
      margin-left: auto;
      margin-right: auto;
      box-sizing: border-box;
     
  }
    
// vars
$white: #fff;
$blue: #436eb1;
$green: #36ab97;
$purple: #b25bab;
$blue-green-gradient: linear-gradient(45deg, $blue, $green);
$purple-blue-gradient: linear-gradient(to right, $purple, $blue);


%dib-vam {
  display: inline-block;
  vertical-align: middle;
}

.toggle {
  @extend %dib-vam;
  position: relative;
  top: calc(50% - 15px);
  width: 75px;
  height: 30px;
  margin: 0 15px;
  
  &__checkbox {
    display: none;
    
    &:checked + .toggle__switcher {
      background: $purple-blue-gradient;
      opacity: 1;
      
      &::before {
        transform: translateX(44px);
      }
    }
  }
  
  &__switcher {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px;
    background: $purple-blue-gradient;
    opacity: .65;
    cursor: pointer;
    transition: .4s;
    
    &::before {
      content: '';
      position: absolute;
      width: 23px;
      height: 23px;
      left: 4px;
      bottom: 4px;
      border-radius: 50%;
      background: $white;
      transition: .4s;
    }
  }
  
  &__label {
    @extend %dib-vam;
    position: relative;
    top: calc(50% - 14px);
    color: $white;
    text-transform: uppercase;
    font-weight: 500;
  }
}
