<div id="partie_top">
    <div id="conteneur">
        <p class="titre"><i class="far fa-question-circle"></i> Première fois sur le site ? (aide)</p>
        <div id="contenu">
            <ul>
                <li>Pour créer un Quiz:</li>
                <li>1) Créez un thème dans la section "Créer un thème"</li>
                <li>2) Cliquez ensuite sur "Voir les quiz" dans votre thème créé</li>
                <li>3) Créez votre quiz</li>
            </ul>
        </div>
        <p class="titre"><i class="far fa-question-circle"></i> Où mènent les bulles de cette page ?</p>
        <div id="contenu">
            <ul>
                <li>-Créer un accueilli: création de profils</li>
                <li>-Gestion des accueilli: suppression/édition/statistiques des profils</li>
                <li>-Gestion des quiz: liste des thèmes puis liste des quiz</li>
                <li>-Créez un thème: création de thèmes</li>
            </ul>
        </div>
    </div>
</div>

<div id="all">
    <div class="container">
        <div class="row">
            <!-- card1 -->
            <div class="card card-circle" routerLink="/create-user">
                <div class="card-body">
                    <a>
                        <h5 class="card-title">Créer un Accueilli</h5>
                        <div class="card-icon">
                            <i class="fas fa-plus-circle"></i>
                        </div>
                    </a>

                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <!-- card1 -->
            <div class="card card-circle" routerLink="/user-list">
                <div class="card-body">
                    <a>
                        <h4 class="card-title">Gestion des Accueillis</h4>
                        <div class="card-icon">
                            <i class="far fa-edit"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <!-- card1 -->
            <div class="card card-circle" routerLink="/create-theme">
                <div class="card-body">
                    <a>
                        <h5 class="card-title">Créer un Theme</h5>
                        <div class="card-icon">
                            <i class="fas fa-plus-circle"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <!-- card1 -->
            <div class="card card-circle" routerLink="/theme-list/">
                <div class="card-body">
                    <a>
                        <h4 class="card-title">Gestion des Quiz</h4>
                        <div class="card-icon">
                            <i class="far fa-edit"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>