<div id="partie_top">
    <div id="conteneur">
        <div id="contenu">
            <h1><i class="far fa-question-circle"></i> Commencez par créer un thème  </h1>
        </div>
    </div>
</div>

<div id="all">
    <div class="container">
        <div class="row">
            <!-- card1 -->
            <div class="card card-circle" routerLink="/create-user">
                <div class="card-body">
                    <a>
                        <h5 class="card-title">Créer un Accueilli</h5>
                        <div class="card-icon">
                            <i class="fas fa-plus-circle"></i>
                        </div>
                    </a>

                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <!-- card1 -->
            <div class="card card-circle" routerLink="/user-list">
                <div class="card-body">
                    <a>
                        <h4 class="card-title">Gestion des Accueillis</h4>
                        <div class="card-icon">
                            <i class="far fa-edit"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <!-- card1 -->
            <div class="card card-circle" routerLink="/create-theme">
                <div class="card-body">
                    <a>
                        <h5 class="card-title">Créer un Theme</h5>
                        <div class="card-icon">
                            <i class="fas fa-plus-circle"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <!-- card1 -->
            <div class="card card-circle" routerLink="/theme-list/">
                <div class="card-body">
                    <a>
                        <h4 class="card-title">Gestion des Quiz</h4>
                        <div class="card-icon">
                            <i class="far fa-edit"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>