<!DOCTYPE html>

<head>
    <title>Statistiques</title>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@600&family=Do+Hyeon&display=swap"
        rel="stylesheet">
</head>

<div id="all">
    <div id="partiegauche">
        <div id="infos">
            <h2 class="texte">Statistiques de l'utilisateur :</h2>
            <label class="texte">
                <p style="margin-bottom: 0;">Nom Utilisateur: {{user.surname}} {{user.name}}</p><br>
            </label>
            <h4 *ngIf="quizSelected" class="texte">Quizz: {{quizSelected.name}}</h4>

        </div>
        <div id="parentErreurCorrect">
            <div *ngIf="resSelected" id="erreurs">
                <p class="texte">erreurs <br> {{resSelected.nbErreur}}</p>
            </div>
            <div *ngIf="resSelected" id="corrects">
                <p class="texte">correctes <br> {{resSelected.nbCorrect}}</p>
            </div>
        </div>
        <div id=parentaidesthemes>
            <div *ngIf="resSelected" id="nb_aides">
                <p class="texte">nombres d'aides <br> {{resSelected.nbAide}}</p>
            </div>
            <div id="theme_fav">
                <p class="texte">theme favoris <br> sport de combat</p>
            </div>
        </div>
        <div id="nb_Q">
            <p class="texte">Nombre de questions<br>5</p>
        </div>
        <button *ngIf="resSelected" class="buttonDetail" (click)="showDetails()">Plus de details</button>
    </div>
    <div id="partiedroite">
        <div id="contenu">
            <h6 class="texte">Liste des quizs réalisés</h6>
            <div id="listeQ"></div>
            <div *ngIf="quizList">
                <div class="item" (click)="SelectedQuiz(quiz,i)" *ngFor="let res of result; let i=index">
                    Quiz n°{{i+1}}: {{res.nameQuiz}} {{res.dateQuiz}}
                </div>
            </div>
        </div>
    </div>
</div>