img{
    max-width: 200px;
}

#imageGestion1{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#imageGestion2{
    box-sizing: border-box;
    width: 100%;
}