<div id="partie_creation_question">
    <div id="conteneur">
        <div id="contenu">
            <form class="question-form" [formGroup]="questionForm">
                <h2>Créer une question</h2>
                <div>
                    <p style="text-align: center;">Modeles de quiz (Cliquez sur le mode)</p>
                    <div style="display: flex; flex-flow: row wrap;justify-content: center;" >
                        <div (click)="QuatreImageUneQuestionText()" >
                            <img style="max-width: 200px;" src="https://zupimages.net/up/20/15/rcca.jpg" alt="">
                        </div>
                        &nbsp;
                        &nbsp;
                        &nbsp;
                        <div (click)="UneImageQuatreText()" >
                            <img style="max-width: 200px;" src="https://zupimages.net/up/20/15/em0f.jpg" alt="">
                        </div>
                    </div> 
                    <p style="text-align: center;font-weight: bold;">Mode: {{mode}}</p>
                </div>
                <label for="title">
                    Titre
                    <input type="text" placeholder="Nom de la question" [formControlName]="'label'">
                </label>
                <label for="imageUrlQuestion">
                    <input *ngIf="mode === 'Image question et text pour question'" class="imgQuestion" type="text" placeholder="Lien vers l'image" [formControlName]="'imgUrl'">
                    <img *ngIf="mode === 'Image question et text pour question'" style="width: 100px;" [src]="questionForm.controls.imgUrl.value" alt="">
                </label>
                <br>
                <div *ngIf="modeAide === 0">
                    <label for="indice">
                        Indice par texte
                        <input type="text" [formControlName]="'indice'">
                    </label>
                </div>
                <div *ngIf="modeAide === 1">
                    <label for="indice">
                        Indice par son
                        <input #myInput type="file" id="fichier" (change)="envoiFichier($event.target.files)"/>
                    </label>
                </div>
                <div>
                    <button (click)="switchModeAide()"><p *ngIf="modeAide === 0">Indice par son</p> <p *ngIf="modeAide === 1"> Indice par texte </p></button>
                </div>
                <br>


                <!--Answer Part-->
                <a class="button red" id="AnswerPart" (click)="addAnswer()">Ajout de réponses</a>

                <div class="answer" formArrayName="answers">
                    <!-- On recupere le getter answers de (get answers()) et avec controls on parcours avec un index -->
                    <div *ngFor="let answer of answers.controls; let i = index">
                        <div style="padding: 20px;" class="answer-form" [formGroupName]="i">
                            Reponse {{i+1}}: <br> <input placeholder="La réponse" placeholder="Réponse" type="text"
                                [formControlName]="'value'">
                            <br>
                            <input *ngIf="mode === 'Text question et image pour reponse'" class="imgReponse" type="text" placeholder="Lien vers l'image" [formControlName]="'imageUrl'">
                            <img *ngIf="mode === 'Text question et image pour reponse'" style="width: 100px;" [src]="questionForm.controls.answers.controls[i].controls.imageUrl.value" alt=""><br>
                            <label id="label">Correct</label> 
                            <input class="correctOrNot" type="checkbox" [formControlName]="'isCorrect'">
                        </div>
                    </div>
                </div>
                <!--Answer Part-->


                <button class="button red" [disabled]="questionForm.invalid" (click)="addQuestion()">Créer</button>


                <div *ngIf="questionForm.controls.label.invalid && (questionForm.controls.label.dirty || questionForm.controls.label.touched)"class="alert alert-danger">
                    <div style="color: red;font-weight: bold;border: 2px solid; border-radius: 3px;margin-bottom: 10px;" *ngIf="questionForm.controls.label.errors.required">
                    Le nom de la question est requis.
                    </div>
                </div>
                <div style="color: red;font-weight: bold;border: 2px solid; border-radius: 3px;margin-bottom: 10px;" *ngIf="questionForm.controls.imgUrl.invalid && (questionForm.controls.imgUrl.dirty || questionForm.controls.imgUrl.touched)"class="alert alert-danger">
                    <div *ngIf="questionForm.controls.imgUrl.errors.required">
                    L'Url de l'image est requis.
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
