<div id="partie_question">
    <div id="conteneur">
        <div id="contenu">
            <form class="question-form" [formGroup]="questionForm">
                <h2 class="titre">
                    {{question.label}} &nbsp; <i (click)="editQuestion()" class="fas fa-edit"></i>
                </h2>
                <div id="containerEdition" *ngIf="edit_question">
                    <div class="contenuEdition">
                        <h3 class="newEdit">Nouveau intitulé question</h3>
                        <input class="inputQuestionEdit" type="text" name="" [formControlName]="'label'" id="">
                        <br>

                        <div class="buttonEnvelop">
                            <button class="buttonConfirmEdit" *ngIf="edit_question"
                                (click)="validateQuestion()">Valider</button>
                            <button class="buttonCancelEdit" *ngIf="edit_question"
                                (click)="cancelQuestion()">Annuler</button>
                        </div>
                    </div>
                </div>

                <div id="containerImageEdition" *ngIf="question.imgUrl != '' ">
                    <div class="contenuImageEdition">
                        <h3 *ngIf="edit_question" class="newEdit">Nouvelle Url de l'image</h3>
                        <div class="question" *ngIf="question.imgUrl">
                            <img [src]="question.imgUrl" width="200" alt="">
                            <br>
                            <input class="inputQuestionEdit" *ngIf="edit_question" type="text"
                                [formControlName]="'imgUrl'">

                            <div class="buttonEnvelop">
                                <button class="buttonConfirmEdit" *ngIf="edit_question"
                                    (click)="validateQuestion()">Valider</button>
                                <button class="buttonCancelEdit" *ngIf="edit_question"
                                    (click)="cancelQuestion()">Annuler</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="answer">
                    <br>
                    <p *ngIf="question.indice" class="indice">Indice par texte : {{question.indice}} <input
                            class="inputHintEdit" *ngIf="edit_question" type="text" [formControlName]="'indice'"> </p>
                    <p *ngIf="question.sonUrl" class="indice">Indice par son: {{question.sonUrl}} <input
                            class="inputHintEdit" *ngIf="edit_question" type="text" [formControlName]="'sonUrl'"> </p>
                </div>
                <div class="answers container">
                    <ul class="answer card" *ngFor="let answer of question.answers; let i=index">
                        <li>
                            <p style="color: white; font-weight: bold;">Réponse {{i+1}}</p>
                            <img *ngIf="answer.imageUrl" [src]="answer.imageUrl" width="100" alt="">
                        </li>
                        <li>
                            <div class="txt">
                                {{answer.value}} <ng-container *ngIf="answer.isCorrect && curStatus === 'admin'"><i
                                        class="far fa-check-square limeColor"></i>

                                </ng-container>
                                <br>
                                <button (click)="editAnswer(answer,i)" class="button blue">Modifier</button>
                                <br>
                                <button (click)="supprAnswerConfirmation(answer)"
                                    class="button red">Supprimer</button>&nbsp;
                            </div>
                            <div *ngIf="answer === answerToDelete">
                                <div *ngIf="confirmationDeleteAnswer" class='confirm--active'>
                                    <div class="confirmBox">
                                        <p>Voulez-vous vraiment supprimer cette réponse ?</p>
                                        <button (click)="supprAnswer(answerToDelete,true)"
                                            class="button red">oui</button>
                                        <button (click)="supprAnswer(answerToDelete,false)"
                                            class="button white">non</button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <form class="formulaire" *ngIf="editanswer_i == i" [formGroup]="answerForm">
                                <ul>
                                    <li>
                                        <input placeholder="Reponse" type="text" [formControlName]="'value'">
                                    </li>
                                    <li>
                                        <input *ngIf="!question.imgUrl" placeholder="Url de l'image" type="text"
                                            [formControlName]="'imageUrl'">
                                    </li>
                                    <li>
                                        Correct:
                                        <input class="correctOrNot" type="checkbox" [formControlName]="'isCorrect'"
                                            (click)="isChecked()">
                                    </li>
                                    <li>
                                        <button (click)="validateAnswer(answer)">Valider</button>
                                        <button (click)="cancelAnswer()">Annuler</button>
                                    </li>
                                </ul>
                            </form>
                        </li>
                    </ul>
                </div>

                <form *ngIf="_addAnswer" class="answer" [formGroup]="answerForm">
                    <div id="containerAddAnswer">
                        <div class="contenuAddAnswer">
                            <input class="inputEditAddAnswer" placeholder="Intitulé de la réponse" type="text" [formControlName]="'value'">
                            <br>    
                            <input class="inputEditAddAnswer" placeholder="Url de l'image" type="text" [formControlName]="'imageUrl'">
                            <br>
                            <label style="color: #000;">Correct</label>
                            <input class="correctOrNot" type="checkbox" [formControlName]="'isCorrect'"
                                (click)="isChecked()">
                            <br>
                                <button class="buttonConfirmEdit" (click)="createAnswer(answer)">Valider</button>
                            <button class="buttonCancelEdit" (click)="cancelCreateAnswer()">Annuler</button>
                        </div>
                    </div>
                </form>
                <br>
                <div>
                    <div *ngIf="confirmationDeleteQuestion" class='confirm--active'>
                        <div class="confirmBox">
                            <p>Voulez-vous vraiment supprimer cette question ?</p>
                            <div>
                                <button (click)="supprQuestionC(true)" class="button red">oui</button>
                                <button (click)="supprQuestionC(false)" class="button white">non</button>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
                <div id="boutons">
                    <a class="button red" *ngIf="curStatus === 'admin'" (click)="addAnswer()">Ajout de réponses</a>
                    <a class="button red" *ngIf="curStatus === 'admin'"
                        (click)="supprQuestionConfirmation()">Supprimer</a>
                </div>
            </form>
        </div>
    </div>
</div>