<div id="part_creation_question">
    <div id="container">
        <div id="content">
            <form class="question-form" [formGroup]="questionForm">
                <h2>Créer une question</h2>
                <div>
                    <p style="text-align: center;">Modèles de quiz (Cliquez sur le mode)</p>
                    <div class="contentQuestion">
                        <div (click)="QuatreImageUneQuestionText()" >
                            <img style="max-width: 200px;" src="https://zupimages.net/up/20/15/rcca.jpg" alt="">
                        </div>&nbsp;&nbsp;&nbsp;
                        <div (click)="UneImageQuatreText()" >
                            <img style="max-width: 200px;" src="https://zupimages.net/up/20/15/em0f.jpg" alt="">
                        </div>
                    </div> 
                    <p *ngIf="questionMode === 1" class="mode">Mode: Énoncé avec une image et des textes en tant que réponses</p>
                    <p *ngIf="questionMode === 2" class="mode">Mode: Énoncé textuel et des images en tant que réponses</p>
                </div>
                <label for="title">
                    Titre*
                    <input type="text" placeholder="Nom de la question" [formControlName]="'label'">
                </label>
                <label for="imageUrlQuestion">
                    <input *ngIf="questionMode === 1" class="imgQuestion" type="text" placeholder="Lien vers l'image" [formControlName]="'imgUrl'">
                    <img *ngIf="questionMode === 1" class="apercu" [src]="questionForm.controls.imgUrl.value" alt="">
                </label>
                <br>
                <div *ngIf="hintMode === 1">
                    <label for="indice">
                        Indice par texte
                        <input type="text" placeholder="Indice pour la question" [formControlName]="'indice'">
                    </label>
                </div>
                <div *ngIf="hintMode === 2">
                    <label for="indice">
                        Indice par son
                        <input (change)="loadSong($event)" type="file" id="fichier"/>
                    </label>
                </div>
                <div>
                    <button class="button blue" (click)="switchHintMode()"><span *ngIf="hintMode === 1">Indice par son</span> <span *ngIf="hintMode === 2"> Indice par texte </span></button>
                </div>
                <br>

                <div *ngIf="count === 4" class="infos">
                    <i class="fas fa-info-circle"></i> Question limitée à 4 réponses
                </div>
            
                <!--Answer Part-->
                <a id="ajout_reponse" class="button red" id="AnswerPart" (click)="addAnswer()">Ajout de réponses</a>

                <div class="answer" formArrayName="answers">
                    <!-- On recupere le getter answers de (get answers()) et avec controls on parcours avec un index -->
                    <div *ngFor="let answer of answers.controls; let i = index">
                        <div class="answer-form" [formGroupName]="i">
                            Reponse {{i+1}}: <br> <input placeholder="La réponse" placeholder="Réponse" type="text"
                                [formControlName]="'value'">
                            <br>
                            <input *ngIf="questionMode == 2" class="imgReponse" type="text" placeholder="Lien vers l'image" [formControlName]="'imageUrl'">
                            <img *ngIf="questionMode == 2" class="apercu" [src]="questionForm.controls.answers.controls[i].controls.imageUrl.value" alt=""><br>
                            <label id="label">Correct</label> 
                            <input class="correctOrNot" type="checkbox" [formControlName]="'isCorrect'" (click)="changeColorOnChecked(i)">
                        </div>
                    </div>
                </div>
                <!--Answer Part-->

            
                <button class="button red" [disabled]="questionForm.invalid || count < 2 || questionForm.controls.anwsers" (click)="addQuestion()">Créer</button>


                <div *ngIf="questionForm.controls.label.invalid && (questionForm.controls.label.dirty || questionForm.controls.label.touched)" class="alert-dark">
                    <div *ngIf="questionForm.controls.label.errors.required">
                    Le nom de la question est requis.
                    </div>
                </div>
                <div *ngIf="questionForm.controls.imgUrl.invalid && (questionForm.controls.imgUrl.dirty || questionForm.controls.imgUrl.touched)" class="alert-dark">
                    <div *ngIf="questionForm.controls.imgUrl.errors.required">
                    L'Url de l'image est requis.
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>