@import '../../../../styles/button.scss';
@import '../../../../styles/validator.scss';

.dialogdemoBasicUsage #popupContainer {
  position: relative; 
}
.dialogdemoBasicUsage .footer {
  width: 100%;
  text-align: center;
  margin-left: 20px; 
}
.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
  font-size: 0.8em;
  margin-top: 50px; 
}
  
.mode{
  text-align: center;
  font-weight: bold;
}
  
#part_creation_question{
  padding: 2em;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
   padding-bottom: 0;
}

input[type='checkbox']{
  transform: scale(2);
  border: none;
  background: transparent;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  cursor: pointer;
}

#container{
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  background-color: rgb(255, 140, 105,0.75);
  border-radius: 0.7em;
}

#content{
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.apercu{
  width: 100px;
}

.titre{
  text-align: center;
  text-transform: uppercase;
}

form {
  max-width: 600px;
  text-align: center;
  margin: 20px auto;
}
form input, form textarea {
  border: 0;
  outline: 0;
  padding: 1em;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: block;
  width: 100%;
  margin-top: 1em;
  font-family: 'Merriweather', sans-serif;
  resize: none;
  box-sizing: border-box;
}

form input[type='text']:focus, form textarea:focus {
  -moz-box-shadow: 0 0px 2px #e74c3c !important;
  -webkit-box-shadow: 0 0px 2px #e74c3c !important;
  box-shadow: 0 0px 2px #e74c3c !important;
}

.ripple {
  position: absolute;
  background: rgba(0,0,0,.25);
  border-radius: 100%;
  transform: scale(0.2);
  opacity:0;
  pointer-events: none;
  -webkit-animation: ripple .75s ease-out;
  -moz-animation: ripple .75s ease-out;
  animation: ripple .75s ease-out;
}

@-webkit-keyframes ripple {
  from {
    opacity:1;
  }
  to {
    transform: scale(2);
    opacity: 0;
  }
}

@-moz-keyframes ripple {
  from {
    opacity:1;
  }
  to {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes ripple {
  from {
    opacity:1;
  }
  to {
    transform: scale(2);
    opacity: 0;
  }
}

.answer-form{
  margin-top: 0.8em;
  background-color: #aaa;
  border-radius: 1em;
  padding: 20px;
}

.correct{
  background-color: lightgreen;
}

.incorrect{
  background-color: #AAA;
}

input[type=radio]{
  text-decoration: none;
}
button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.infos{
  background-color: rgba(0, 205, 0);
  color: white;
  border-radius: 8px;
}

.contentQuestion{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}


.imageSelected{
  background-color: limegreen;
}