<head>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">
</head>

<div *ngIf="questionSelected">
  <!-- Modal after good answer -->

  <div [ngClass]="{ 'modalF':modalIn, 'out':modalOut}" id="modal-container">
    <div *ngIf="quizFini" class="confetti">
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
    </div>
    <div class="modal-background">
      <div class="modal">
            <svg class="modal-svg" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" preserveAspectRatio="none">
              <rect x="0" y="0" fill="none" width="226" height="162" rx="3" ry="3"></rect>
            </svg>
            <img class="imageModal" *ngIf="quizDebut" src="https://zupimages.net/up/20/18/mx4u.jpg" style="width: 250px; object-fit: cover;" alt="">
            <img class="imageModal" *ngIf="quizFini && !quizDebut" src="https://thumbs.dreamstime.com/b/banni%C3%A8re-de-bravo-91022451.jpg" width="300" alt=""><br>
            <p style="font-family: 'Fredoka One', cursive; font-size: 30px;" *ngIf="quizFini && !quizDebut"> Félicitation {{user.surname}} </p><br>
            <p class="textModal" style="font-family: 'Fredoka One', cursive; font-size: 30px;" *ngIf="quizDebut"> Le quiz commence dans {{timerPopup}} secondes</p>
            <p class="textModal" style="font-family: 'Fredoka One', cursive; font-size: 30px;" *ngIf="quizFini === false && !quizDebut"> Prochaine question dans {{timerPopup}} secondes</p>
            <a *ngIf="quizFini && !quizDebut" (click)="rejouer()" class="btn blue">Rejouer</a>
            <a *ngIf="quizFini && !quizDebut" (click)="quitter()" class="btn cancel">Quitter</a>
      </div>
    </div>
  </div>

  <a style="position: absolute; top: 25px; left: 30px;" *ngIf="!menu" (click)="switchMenu()">
      <svg width="30" height="30">
          <path d="M0,5 30,5" stroke="#333" stroke-width="5"/>
          <path d="M0,14 30,14" stroke="#333" stroke-width="5"/>
          <path d="M0,23 30,23" stroke="#333" stroke-width="5"/>
      </svg>
  </a>

<div *ngIf="menu" id="side-menu" class="side-nav">
  <a class="btn-close" (click)="switchMenu()">&times;</a>
  <ul id="menu">
    <li> Zoom: <input (mouseup)="changeFont($event)" value="20" min="20" max="40" type="range" id="rangeTaille" /> </li>
    <!-- <button (click)="resetTaille()">reset taille</button> -->
    <button id="contrast-b" (click)="changeContrastToBlack()" title="Ecriture blanche/Fond noir">Contraste inverse</button>
    <button id="contrast-w" (click)="changeContrastToWhite()" title="Ecriture noir/Fond blanc">Contraste normal</button>
  </ul>
</div>

<div style="width: 100%;margin-left: auto;margin-right: auto;">
  <ng-container *ngIf="questionSelected">

    <div style="width: 100%;">
      <div style="width: 100%; display: flex; justify-content: center;flex-direction: column; align-items: center;"> 
        <span class="titreQuiz">{{curTheme.name}} - <span style="color: chocolate;">{{quiz.name}}</span>  </span>
      </div>
    </div>

    <!-- Display question -->

    <p *ngIf="questionSelected === undefined">Aucune question pour ce quiz :(</p>

    <div id="quiz">
      <h3 style="font-size: 25px;" *ngIf="questionSelected.imgUrl === ''" class="zommableEnonce" id="question">{{questionSelected.label}}</h3>
      
      <!-- Cas ou on a image dans question -->

      <div *ngIf="questionSelected.imgUrl">
        <div style="display: flex; justify-content: center;">
          <img style="max-width: 300px;" [src]="questionSelected.imgUrl" alt="">
        </div>
        <h3 style="font-size: 25px;" class="zommableEnonce" id="question">{{questionSelected.label}}</h3>      
      </div>

      <!-- Indice -->
      <p style="font-size: 25px;" id="indice" *ngIf="afficheIndice">{{questionSelected.indice}}</p>
      <p style="font-size: 25px;" id="indice" *ngIf="questionSelected.sonUrl && playSong"> Écoutez l'indice <i class='fas fa-headphones'></i></p>
      
      <!-- Answers -->
      
      <div class="zommableAnswer" id="containerListe">
        <div class="list-type2">
          <ul class="quiz-list">
            <li class="quiz" (click)="selectAnswer(answer)" *ngFor="let answer of questionSelected.answers">
              <app-answer [answer]="answer"></app-answer>
            </li>
          </ul>
        </div>
      </div>

      <!-- Cancel and help Button -->

      <div id="struct_bouton">
        <div id=Cbouton>
          <button style="font-size: 25px;" class="precedent" (click)="questionPrecedente()" >Question précédente</button>
          <button style="font-size: 25px;" class="aide" *ngIf="!playSong" (click)="aide()"><i class="far fa-question-circle"></i> Aide</button>
        </div>
      </div>

      <!-- TimeLine -->

      <div style="text-align: center;" class="container">
        <ul #progressBar class="progressbar-steps">
          <li *ngFor="let question of quiz.questions; let i = index" >
            <span  class="step-content">Question {{i+1}}</span>
          </li>
        </ul>
      </div>

    </div>
  </ng-container>

</div>
</div>

<div *ngIf="quiz">
  <div *ngIf="quiz.questions.length === 0">
      <h1 style="text-align: center;">Aucune question pour l'instant</h1>
  </div>
</div>