@import '../../../../styles/confetti.scss';
@import '../../../../styles/modal.scss';
@import '../../../../styles/timeline.scss';
@import '../../../../styles/not_elements.scss';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.titreQuiz{
  text-align: center;
  font-size: 30px;
  padding: 20px;
}

.menuIconLat{
  position: absolute; 
  top: 25px; 
  left: 30px;
}

#containerQuizName{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.structQuizName{
  width: 100%; 
  display: flex; 
  justify-content: center;
  flex-direction: column; 
  align-items: center;
}

.quizName{
  color: chocolate;
}

.label{
  font-size: 25px;
}

.containerImgQuestion{
  display: flex; 
  justify-content: center;
}

.containerImgQuestion img{
  max-width: 300px;
}


body {
  background-color: #c0c0c0;
  font-family: sans-serif;
  overflow-x: hidden; /* needed because hiding the menu on the right side is not perfect,  */
}

#indice{
  text-align: center;
  //a voir si on rajoute un border
  //border: solid 1px aqua;
  background-color: skyblue;
  border-radius: 10px;
  width: 65%;
  display: inherit;
  margin-left: auto;
  margin-right: auto;
}

#quiz{
  width: 60%;
  margin: auto;
}

@media only screen 
and (min-device-width : 768px)
and (max-device-width : 900px) {
  #quiz{
    width: 100%;
    margin: auto;
  }
  #Cbouton{
    width: 70%;
  }
}

@media only screen 
and (min-device-width : 900px)
and (max-device-width : 1024px) {
  #quiz{
    width: 80%;
    margin: auto;
  }
  #Cbouton{
    width: 100%;
  }
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
  #quiz{
    width: 100%;
    margin: auto;
  }
}

#question{
  text-align: center;
  border: solid 1px;
  font-style: italic;
  border-radius: 2px;
  width: 75%;
  display: inherit;
  margin-left: auto;
  margin-right: auto;
}
#Cbouton{
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.aide{
  text-decoration: none;
  border-radius: 10px;
  background-color:#6B16B6;
  color:#fff;
  text-shadow: none;
  border: none;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 25px;
  padding: 10px 50px;
}

.precedent{
  text-decoration: none;
  border-radius: 10px;
  background-color: #E7D24F;
  color: #000;
  text-shadow: none;
  border: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 25px;
  width : 60%;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button {
  cursor: pointer;
}


a
{
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

a:hover
{
  color: tomato;
}

.side-nav {
  height: 100%;
  width: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background: #ededed;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}
.side-nav a {
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 22px;
  color: #ccc;
  display: block;
  transition: 0.3s;
}

.side-nav .btn-close {
  position: absolute;
  top: 0;
  right: 22px;
  font-size: 36px;
  margin-left: 50px;
  color: black;
}
#main {
  transition: 0.5s;
  padding: 20px;
  overflow: hidden;
  width: 100%;
  margin-left: 250px;
}
#side-menu{
width: 250px;
}
@media (max-width:568px) {
  .navbar-nav a {
      display: none;
  }
}

 #menu
 {
   list-style-type: none;
 }
 #menu li
 {
   padding: 10px 0;
   font-size: 22px;
 }

$primary-blue: #0080FF;
$red:#FF3149;

.btn,
a.btn {
  display: inline-block;
  text-transform: none;
  cursor: pointer;
  text-decoration: none;
  line-height: 1em;
  transition: all .35s cubic-bezier(.1, 0, 0, 1);
  border-radius: 6px;
  padding: 15px 20px;
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(0, 0, 0, 0);
  margin: 8px;
  font-weight: bold;
  font-family: 'Fredoka One', cursive;
  letter-spacing: .1em;
  /*border: 1px solid rgba(0, 0, 0, 0);*/
  text-shadow: 0 0 rgba(0, 0, 0, 0);
}

.btn,
a.btn:hover {
  border-radius: 8px;
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .1), 0 4px 8px rgba(0, 0, 0, .2);
  /*border: 1px solid rgba(0, 0, 0, .1);*/
  transform: scale(1.06);
  text-shadow: 0 -1px rgba(0, 0, 0, .1);
}

.btn,
a.btn:active {
  transform: scale(0.98);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .2), 0 1px 3px rgba(0, 0, 0, .3);
  /*border: 1px solid rgba(0, 0, 0, .1);*/
}

.btn,
a.btn:visited {
  transform: scale(1);
}

.blue,
a.blue {
  color: white;
  font-weight: 600;
  background: $primary-blue;
  //rejouer
  z-index: 1;
}

.blue,
a.blue:hover {
  background: lighten($primary-blue, 4%);
}

.blue,
a.blue:active {
  background: darken($primary-blue, 5%);
}

.cancel,
a.cancel {
  color: white;
  background: $red;
  //quitter
  z-index: 1;
}

.cancel,
a.cancel:hover {
  color: #fff;
  background: lighten($red, 1%);
}

.cancel,
a.cancel:active {
  background: darken($red, 10%);
}

.quiz-list {
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
}

.buttonContainer{
  word-wrap: break-word;
   width: auto;
}