<!DOCTYPE html>

<head>
    <title>Statistiques Details</title>
</head>
<div id="all">
    <div id="partiedroite">
        <h6>Details</h6>
        <div id="listeQ"></div>
        <div *ngIf="resSelected" >
            <div id="Bleu">
                Nom Utilisateur: {{user.name}} {{user.surname}}
                Quiz: {{resSelected.nameQuiz}}
            </div>
            <div *ngFor="let question of resSelected.questions; let i=index">
                <p>Question: {{question.label}}</p>
                <div *ngFor="let answer of resSelected.answers; let i=index"> 
                    <td>Reponse: {{answer.value}} <i *ngIf="answer.isCorrect" class="far fa-check-square"></i><i *ngIf="!(answer.isCorrect)" class="fas fa-times"></i></td>
                </div>
                <p> Aide utilisé ? {{question.aideUtilise}} </p>
            </div>
        </div>
    </div>
</div>