div{
    border: 1px solid black;
    padding: 15px;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#all{
    display: flex;
    
}

#partiedroite{
    width: 100%;
    
}
#Bleu{
	background: violet;
	font-family: "Arial Black";
}

#detail{
	text-transform: uppercase;
	font-family: "Arial Black";
}

#listequestion{
	background: yellowgreen;
	text-transform: uppercase;
	font-family: "Arial Black";
	text-transform: bold;

}