<!DOCTYPE html>

<head>
    <title>Statistiques Details</title>
</head>


<div id="all">
    <h1 id=detail>Details</h1>
    <div id="partie_header">
        <div *ngIf="resSelected">
            <div id="contenu_header">
                <p>Nom Utilisateur: <strong class="name">{{user.name}} {{user.surname}}</strong></p>
                <p>Quiz : <strong class="name">{{resSelected.quiz.name}}</strong></p>
            </div>
        </div>
    </div>
    <div id="partie_question">
        <div *ngIf="resSelected">
            <div *ngFor="let question of resSelected.quiz.questions; let i=index" id="listequestion">

                <div id="header_question">
                    <p class="question">Question:
                        <strong class="name"> {{question.label}}</strong>
                    </p>
                </div>
                <div id="conteneur">
                    <div *ngFor="let answer of question.answers; let i=index">
                        <td><strong class="rep">Reponse : </strong>{{answer.value}} <i *ngIf="answer.isCorrect"
                                style="color: green;" class="far fa-check-square"></i><i *ngIf="!(answer.isCorrect)"
                                style="color: red;" class="fas fa-times"></i></td>
                    </div>
                    <p> Aide utilisé <ng-template *ngIf="question.aideUtilise; then OUI else NON"></ng-template></p>
                    <ng-template #OUI><strong class="name">Oui - <span *ngIf="question.sonUrl">Indice son</span> <span *ngIf="question.indice">Indice texte</span></strong></ng-template>
                    <ng-template #NON><strong class="name">Non</strong></ng-template>
                </div>
            </div>
        </div>
    </div>
</div>