<ng-container *ngIf="quiz">
    <div>
        <form action="" [formGroup]="quizForm">
            <div class="modification">
                <div>
                    <span class="titrePage">Édition quiz : <strong class="strongColor">{{quiz.name}}</strong></span>
                </div>
                <div class="image_restriction">
                    <img [src]="quiz.imageUrl" alt="">
                </div>
                <div>
                    <button class="edit_button" (click)="editQuiz()" *ngIf="!quizEdit">Modifier <i
                            class="fas fa-edit"></i></button>

                    <div *ngIf="quizEdit" id="container_modifier">
                        <p>Modification</p>
                        Nom* :
                        <input *ngIf="quizEdit" type="text" name="" [formControlName]="'name'" id="">
                        <br>
                        Url image :
                        <input *ngIf="quizEdit" type="text" name="" [formControlName]="'imageUrl'" id="">
                        <br>
                        <button *ngIf="quizEdit" style="background-color: lightgreen;"
                            (click)="validateQuiz()">Valider</button>
                        <button *ngIf="quizEdit" style="background-color: lightcoral;"
                            (click)="cancelQuiz()">Annuler</button>
                    </div>

                </div>
            </div>
        </form>
    </div>

    <app-question-form></app-question-form>
    <app-question-list (questionEdited)="questionEdition($event)" [quiz]="quiz"></app-question-list>
</ng-container>