<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
</head>

<div id="adminPanel">
    <div class="container">
        <div class="row">
            <!-- card1 -->
            <a (click)="setAdminUser()" routerLink="main-admin">
                <div class="card card-circle">
                    <div class="card-body">
                        <h5 class="card-title">Personnel Santé</h5>
                    </div>
                    <div class="card-icon">
                        <i class="fas fa-user-md"></i>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <!-- card2 -->
            <a (click)="setStdUser()" routerLink="/user-list">
                <div class="card card-circle">
                    <div class="card-body">
                        <h5 class="card-title">Accueilli</h5>
                    </div>
                    <div class="card-icon">
                        <i class="fas fa-user"></i>
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>