<div style="width: 100%;margin-left: auto;margin-right: auto;">
    <div >
        <div  id="struct_circle">
            <div class="contenu_circle">
                 <a (click)="setAdminUser()" routerLink="main-admin"><div class="personnel circle"></div></a>
            </div>
        </div>
        
        <div id="struct_circle">
            <div class="contenu_circle">
                 <a (click)="setStdUser()" routerLink="/user-list"><div class="accueilli circle"></div></a>
            </div>
        </div>
        

    </div>
</div>