<head>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">
</head>

<div id="modal-container">
  <div class="modal-background">
    <div class="modal">
      <img alt="">
      <svg class="modal-svg" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" preserveAspectRatio="none">
					<rect x="0" y="0" fill="none" width="226" height="162" rx="3" ry="3"></rect>
			</svg>
    </div>
  </div>
</div>
<nav role='navigation'>
  <div id="menuToggle">

    <input class="fermeture" type="checkbox" />

    <span></span>
    <span></span>
    <span></span>

    <ul id="menu">
      <li> Zoom: <input (mouseup)="changeFont($event)" id="zoom" value="20" min="20" max="40" type="range" /> </li>
      <button id="contrast-b" (click)="changeContrastToBlack()" title="Ecriture blanche/Fond noir">Contraste
        inverse</button>
      <button id="contrast-w" (click)="changeContrastToWhite()" title="Ecriture noir/Fond blanc">Contraste normal</button>
    </ul>
  </div>
</nav>
<div style="width: 100%;margin-left: auto;margin-right: auto;">
  <ng-container *ngIf="questionSelected">

    <h1 class="titreQuiz">{{curTheme.name}} - {{quiz.name}} </h1>

    <p *ngIf="questionSelected === undefined">Aucune question pour ce quiz :(</p>

    <div id="quiz">
      <h3 id="quiz-name">{{questionSelected.label}}</h3>
      <span id="indice"></span>

      <div class="fit-test__question-container">
        <div class="fit-test__answer-container">
          <div (click)="selectAnswer(answer)" class="fit-test__answer-option" *ngFor="let answer of questionSelected.answers">
            <div *ngIf="answer"></div>
            <app-answer [answer]="answer"></app-answer>
          </div>
        </div>
      </div>

      <button class="aide" (click)="aide()" id="aide"><i class="far fa-question-circle"></i> &nbsp; Aide</button>
      <button class="precedent" (click)="questionPrecedente()" id="aide"><i class="fas fa-chevron-circle-left"></i>
        &nbsp;Question précédente</button>
    </div>
  </ng-container>

</div>