    <div class="container">
        <div class="card">
            <div *ngIf="answer.imageUrl"  id="imageGestion1">
                <img [src]="answer.imageUrl" alt="">  
            </div>
            <div class="reponseContainer">
                <div>
                    <p class="zommableEnonce answerValue">{{answer.value}}</p>
                </div>
                 <ng-container *ngIf="answer.isCorrect && curStatus === 'admin'">
                     <i class="far fa-check-square"></i>
                </ng-container>
            </div> 
            <div *ngIf="answer.imageUrl === ''" id="imageGestion2">
                <h4 class="card__title">{{quiz.name}}</h4>
            </div>
            <div id="boutons">
                <a *ngIf="curStatus === 'admin'" class="button blue" (click)="editAnswer()">Edit</a>
                <a *ngIf="curStatus === 'admin'" class="button red" (click)="deleteAnswer()">Delete</a>
                <div *ngIf="confirmationDelete" class='confirm--active'>
    
                    <div class="confirmBox">
                        <p>Voulez-vous vraiment supprimer ce Quiz ?</p>
                        <button (click)="deleteQuiz(quiz,true)" class="btn btn__confirm">oui</button>
                        <button (click)="deleteQuiz(quiz,false)" class="btn btn__cancel">non</button>
                    </div>
                    <p id="response"></p>
                    
                </div>
            </div>
        </div>
    </div>