<ng-container *ngIf="question">
    > <h2>{{question.label}}</h2>
    <div class="card">
        <form class="question-form" [formGroup]="questionForm">
            <h2>Edit a Question</h2>
            <label for="title">
                Title
                <input type="text" [formControlName]="'label'">
            </label>
            <br>
            <button class="button-card" (click)="editQuestion()">Edit</button>
        </form>
    </div>
    <br><br>{{questionForm.getRawValue() | json}}
</ng-container>
