  <div id="all">
    <div id="part_creation_user">
      <div id="contenu">
        <h1 *ngIf="goal === 'create'">Créer un nouvel accueilli</h1>
        <h1 *ngIf="goal === 'edit'">Modification de : {{user.name}}</h1>
        <form class="cf" [formGroup]="userForm">
          <div class="half left cf">
            <input type="text" id="name" [formControlName]="'name'" placeholder="Nom (facultatif)">
            <input type="number" id="age" [formControlName]="'age'" placeholder="Age">
            Sexe :
            <input  type="radio" id="F" value="F" [formControlName]="'sexe'" class="rad"/> <label for="F">
              Feminin</label>
            <input type="radio" id="M" value="M" [formControlName]="'sexe'" class="rad"/> <label for="M">
              Masculin</label>
          </div>
          <div class="half right cf">
            <input type="text" required id="surname" [formControlName]="'surname'" placeholder="Prénom">
          </div>
          <textarea maxlength="50" type="text" id="description" placeholder="Description"
            [formControlName]="'description'"></textarea>
            <br>
          <button *ngIf="goal === 'edit'" [disabled]="userForm.invalid" class="button red" (click)="editUser()">Modifier</button>
          <button *ngIf="goal === 'create'" [disabled]="userForm.invalid" class="button blue" (click)="addUser()">Créer</button>

          <div *ngIf="userForm.controls.name.invalid && (userForm.controls.name.dirty || userForm.controls.name.touched)" class="alert">
            <div *ngIf="userForm.controls.name.errors.required">
              Le nom de l'accueilli est requis.
            </div>
          </div>
          <div *ngIf="userForm.controls.surname.invalid && (userForm.controls.surname.dirty || userForm.controls.surname.touched)" class="alert">
            <div *ngIf="userForm.controls.surname.errors.required">
              Le prénom de l'accueilli est requis.
            </div>
          </div>
          <div *ngIf="userForm.controls.age.invalid && (userForm.controls.age.dirty || userForm.controls.age.touched)" class="alert">
            <div *ngIf="userForm.controls.age.errors.required">
              L'âge de l'accueilli est requis.
            </div>
          </div>
          <div *ngIf="userForm.controls.sexe.invalid && (userForm.controls.sexe.dirty || userForm.controls.sexe.touched)" class="alert">
            <div *ngIf="userForm.controls.sexe.errors.required">
              Le sexe de l'accueilli est requis.
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>