<div *ngIf="curTheme">
    <form [formGroup]="themesForm">
        <div style="display: flex;justify-content: center;flex-direction: column;align-items: center;">
            <div>
                <span style="text-align: center;font-size: 35px;">Édition theme : <strong
                        style="color: orangered;">{{curTheme.name}}</strong></span>
            </div>
            <div class="image_restriction">
                <img style="width: 20%;" [src]="curTheme.imageUrl" alt="">
            </div>
            <div>
                <button (click)="editTheme()" class="edit_button" *ngIf="!edit_theme">Modifier <i
                        class="fas fa-edit"></i></button>
                <div *ngIf="edit_theme" id="container_modifier">
                    <p>Modification</p>
                    Nom : 
                    <input  type="text" name="" [formControlName]="'name'" id="">
                    <br>
                    Url image :
                    <input *ngIf="edit_theme" type="text" name="" [formControlName]="'imageUrl'" id="">
                    <br>
                    <button *ngIf="edit_theme" style="background-color: lightgreen;" (click)="validateTheme()">Valider</button>
                    <button *ngIf="edit_theme" style="background-color: lightcoral;" (click)="annulerTheme()">Annuler</button>
                </div>
            </div>
        </div>
    </form>
    <app-quiz-form></app-quiz-form>
    <app-quiz-list></app-quiz-list>
</div>