<div *ngIf="curTheme">
    <form [formGroup]="themesForm">
        <div class="containerForm">
            <div>
                <span class="titrePage">Édition theme : <strong class="strongFont">{{curTheme.name}}</strong></span>
            </div>
            <div class="image_restriction">
                <img [src]="curTheme.imageUrl" alt="">
            </div>
            <div>
                <button (click)="editTheme()" class="edit_button" *ngIf="!themeEdit">Modifier <i
                        class="fas fa-edit"></i></button>
                <div *ngIf="themeEdit" id="container_modifier">
                    <p>Modification</p>
                    Nom :
                    <input type="text" name="" [formControlName]="'name'" id="">
                    <br>
                    Url image :
                    <input *ngIf="themeEdit" type="text" name="" [formControlName]="'imageUrl'" id="">
                    <br>
                    <button *ngIf="themeEdit" class="validate" (click)="validateTheme()">Valider</button>
                    <button *ngIf="themeEdit" class="cancel" (click)="cancelTheme()">Annuler</button>
                </div>
            </div>
        </div>
    </form>
    <app-quiz-form></app-quiz-form>
    <app-quiz-list></app-quiz-list>
</div>