.image_restriction{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

.image_restriction img{
    box-sizing: border-box;
    width: 50%;
    text-align: center;
}

.edit_button{
    border: none;
    padding: 1em;
    color: white;
    background-color: lightseagreen;
    font-family: "Baloo Thambi 2", cursive;
}

#container_modifier{
    padding: 1em;
    background-color: #ccc;
    border-radius: 12px;
    font-family: "Baloo Thambi 2", cursive;
    text-align: center;
}

#container_modifier input{
    padding: 0.7em;
    margin-bottom: 1em;
    border: none;
    border-radius: 12px;
}

#container_modifier button{
    padding: 0.5em 2em;
    margin: 5px;
    border-radius: 12px;
    text-decoration: none;
    border: none;
}