<div *ngIf="curTheme">
    <form [formGroup]="themesForm">
        <div class="containerForm">
            <div>
                <span class="titrePage">Édition theme : <strong class="strongFont">{{curTheme.name}}</strong></span>
            </div>
            <div class="image_restriction">
                <img [src]="curTheme.imageUrl" alt="">
            </div>
            <div>
                <button (click)="editTheme()" class="edit_button" *ngIf="!edit_theme">Modifier <i
                        class="fas fa-edit"></i></button>
                <div *ngIf="edit_theme" id="container_modifier">
                    <p>Modification</p>
                    Nom : 
                    <input  type="text" name="" [formControlName]="'name'" id="">
                    <br>
                    Url image :
                    <input *ngIf="edit_theme" type="text" name="" [formControlName]="'imageUrl'" id="">
                    <br>
                    <button *ngIf="edit_theme" class="validate" (click)="validateTheme()">Valider</button>
                    <button *ngIf="edit_theme" class="cancel" (click)="annulerTheme()">Annuler</button>
                </div>
            </div>
        </div>
    </form>
    <app-quiz-form></app-quiz-form>
    <app-quiz-list></app-quiz-list>
</div>