.quiz-list {
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
}

#partie_liste_quiz{
  background-color: cyan;
  border-radius: 0.7em;
}

.titreQuiz{
  text-align: center;
}


  .end{
    background-color: #000;
    width: 20px;
  }

  .no-quiz{
    color: #333;
    font-family: "Baloo Thambi 2", cursive;
  }