.quiz-list {
  display: flex;
  flex-wrap: wrap;
}



.titreQuiz{
  text-align: center;
}


.list-type2{
  width:80%;
  margin-left: auto;
  margin-right: auto;

}
  
  .list-type2 ol{
  counter-reset: li;
  list-style: none;
  *list-style: decimal;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin-bottom: 4em;
  }
  
  .list-type2 ol ol{
  margin: 0 0 0 2em;
  }
  
  .list-type2 a{
  position: relative;
  display: block;
  padding: 0.9em 0.9em 0.9em 3em;
  *padding: .4em;
  margin: .5em 0;
  background:#AEDCC0;
  color: #444;
  text-decoration: none;
  transition: all .2s ease-in-out;
  }
  
  .list-type2 a:hover{
  background: #d6d4d4;
  text-decoration:none;
  transform: scale(1.1);
  }
  
  .list-type2 a:before{
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -1.3em;
  top: 50%;
  margin-top: -1.3em;
  background:#AEDCC0;
  height: 2em;
  width: 2em;
  line-height: 2em;
  border: .3em solid #fff;
  text-align: center;
  font-weight: bold;
  color:#000;
  }

  #containerListe{
    width: 100%;
  }

  .end{
    background-color: #000;
    width: 20px;
  }
