@import '../../../../styles/search.scss';

.theme-list {
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;

}
.alignCenter{
  text-align: center;
}

.aligncenter h1{
  font-family: 'baloo thambi' cursive;
}

.btn_goTheme{
  background-color: rgb(224, 235, 72);
  color: rgb(0, 0, 0);
  padding: 2%;
  
}
.alignCenter{
  text-align: center;
}

.aligncenter h1{
  font-family: 'baloo thambi' cursive;
}

.btn_goTheme{
  background-color: rgb(224, 235, 72);
  color: rgb(0, 0, 0);
  padding: 2%;
  
}

.container_search{
  display: flex;
  justify-content: center;
  background-color: #aaa;
  padding: 0.7em;
}

.form-control{
  padding: 0,8em;
  border-radius: 8px;
  border: none;
  background: transparent;
  outline: none;
}

#partie_liste_theme{
  border-radius: 0.7em;
}


.titreTheme{
  font-weight: bold;
  text-align: center;
}
  
.no-theme{
  color: #333;
  font-family: "Baloo Thambi 2", cursive;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

