@import '../../../../styles/search.scss';
@import '../../../../styles/not_elements.scss';

.theme-list {
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
}
.alignCenter{
  text-align: center;
}

.aligncenter h1{
  font-family: 'baloo thambi' cursive;
}

.btn_goTheme{
  background-color: #20B2AA;
  color: white;
  font-family: 'baloo thambi' cursive;
  border-radius: 12px;
  border : none;
  margin-top: 50px;
  padding: 20px;
 font-weight: bold;
 font-size: medium;
  
}
.alignCenter{
  text-align: center;
}

.aligncenter h1{
  font-family: 'baloo thambi' cursive;
}

.container_search{
  display: flex;
  justify-content: center;
  background-color: #aaa;
  padding: 0.7em;
}

.form-control{
  padding: 0,8em;
  border-radius: 8px;
  border: none;
  background: transparent;
  outline: none;
}

#partie_liste_theme{
  border-radius: 0.7em;
}


.titreTheme{
  font-weight: bold;
  text-align: center;
}
  
.no-theme{
  color: #333;
  font-family: "Baloo Thambi 2", cursive;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

