<div id="partie_liste_theme" *ngIf="themesList">
    <div id="conteneur">
        <div id="contenu">
            <h1 class="titreTheme">
                Liste des Thèmes
            </h1>


            <div class="wrap">
                <div class="search">
                    <form class="search-form" id="search-form">
                        <input class="searchTerm" [(ngModel)]="searchTheme" name="search" autocomplete="on" (focusout)="noSearch()" (focus)="clickSearch()" type="text" class="searchbox" />
                    </form>
                </div>
            </div>

            <!-- <div>
                <div class="container_search">
                    <input class="form-control" type="text" name="search" [(ngModel)]="searchTheme" autocomplete="on" placeholder="Recherche de theme">
                    <i class="fas fa-search"></i>
                </div>
            </div> -->
            <ul class="theme-list">
                <li class="theme" *ngFor="let theme of themesList | filter:searchTheme">
                    <app-theme [theme]="theme" (themeSelected)="themeSelected($event)"
                        (themeDeleted)="themeDeleted($event)"></app-theme>
                </li>
                <li class="no-theme" *ngIf="(themesList | filter:searchTheme).length === 0 && themesList.length != 0">
                    <h3>Aucun thème correspond à vos recherches</h3>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class= "alignCenter" *ngIf="themesList.length === 0">
    <h1>Aucun thème pour l'instant</h1>
    <button class = "btn_goTheme" (click)="goToCreateTheme()" *ngIf="page === 'theme-list'"  >Créer un theme</button>
</div>