@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.button {
    cursor: pointer;
    margin: 0.3em;
    padding: 0.8em 3em;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 3px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
    border: none; 
    font-size: 15px;
}
  
.button:hover {
    box-shadow: 1px 6px 15px rgba(0,0,0,0.5);
}
  
.red {
    background-color: #e74c3c;
    color: white;
}

.blue {
    background-color:#0080FF;
    color: white;
}  

.white {
    background-color: #F3F6F9;
    color: #333;
    font-weight: bold;
}
  
.ripple {
    position: absolute;
    background: rgba(0,0,0,.25);
    border-radius: 100%;
    transform: scale(0.2);
    opacity:0;
    pointer-events: none;
    -webkit-animation: ripple .75s ease-out;
    -moz-animation: ripple .75s ease-out;
    animation: ripple .75s ease-out;
}
  
  @-webkit-keyframes ripple {
    from {
      opacity:1;
    }
    to {
      transform: scale(2);
      opacity: 0;
    }
  }
  
  @-moz-keyframes ripple {
    from {
      opacity:1;
    }
    to {
      transform: scale(2);
      opacity: 0;
    }
  }
  
  @keyframes ripple {
    from {
      opacity:1;
    }
    to {
      transform: scale(2);
      opacity: 0;
    }
  }

  #boutons{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 20px;
  }


  *{margin: 0;padding: 0;box-sizing: border-box;}
.container{
  width: 300px;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-gap: 1em;
  padding: 1em;
  font-family: arial;
  
  .card{
    background: linear-gradient(to top left,#7C4DFF,#6129FF);
    border-radius: 8px;
    text-align: center;
    color: #212121;
    box-shadow: 0 2px 5px 0 rgba(#000,.2);
    transition: all .2s;
    overflow: hidden;
    
    img{
      width: 110%;
      height: 200px;
      display: block;
      object-fit: cover;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
    }
    
    &__title{
      margin-bottom: .5em;
      font-size: 1.4em;
      color:white;
    }
    &__description{
      padding: .5em;
      line-height: 1.3;
    }
    &__btn{
      background: darken(#7C4DFF,5%);
      line-height: 2;
      padding: 0 1.5em;
      border-radius: 1em;
      color: #000;
      display: inline-block;
      text-decoration: none;
      margin: 1em;
      transition: all .2s;
      &:hover{
        background: darken(#7C4DFF,8%);
      }
    }
  }
}
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
$red: #F44336;
$blue: #3F51B5;
$white: #FAFAFA;
$white-yellow: #E8EAF6;

.btn {
  text-align: center;
  width: 7rem;
  padding: 0 6px;
  margin: 6px 8px;
  line-height: 2rem;
  background-color: $white;
  border-radius: 3px;
  color: $blue;
  cursor: pointer;
}

.btn__confirm {
  text-align: center;
  width: 7rem;
  padding: 0 6px;
  margin: 6px 8px;
  line-height: 2rem;
  background-color: $white;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  color: $white;
  background-color: $blue;
}

.btn__red {
  display: inline-block;
  position: relative;
  z-index: 2;
  background-color: $red;
  color: $white;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  transition: all 250ms ease-in;
}

.confirmBox {
  display: inline-block;
  text-align: center;
  position: absolute;
  width: 260px;
  padding: 8px;
  margin: 6px 8px;
  margin-top: 0px;
  margin-left: -200px;
  line-height: 2rem;
  background-color: $white;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  opacity: 0;
  z-index:1;
}

.confirm {
  .confirmBox {
   animation: closeDialog;
   animation-duration: 300ms;
  }
  
  > .btn {
    animation: flipBack;
    animation-duration: 300ms;
  }
}

.confirm--active {

  > .btn {
    animation: flipFwd;
    animation-duration: 300ms;
    opacity: 0;
    transition: opacity 0ms linear 300ms;
    
  }
  
 > .confirmBox {
    animation: openDialog;
    animation-duration: 300ms;
    animation-delay: 175ms;
    z-index: 3;
    opacity: 1;
    transition: opacity 0ms linear 300ms;
  }
}
 


.container {
  width: 500px;
  margin-top: 25px;
  text-align: center;
  margin-left: calc(50% - 250px);
}

confirm-button {
  width: 276px;
  display: inline-block;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $white-yellow;
}

.push {
  margin-top: 50px;
}

button {
  background: none;
  border: none;
  color: $blue;
}

* {
  font-family: 'Roboto', sans-serif;
}

@keyframes flipFwd {
  0% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: rotateX(90deg);
    opacity: 0;
  }
}

@keyframes flipBack {
   0% {
   transform: rotateX(-90deg);
   opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    opacity: 1;
  }
}

@keyframes openDialog {
  0% {
     transform: scale(0.5,0.5)  rotateX(-90deg);
     transform-style: preserve-3d;
     transform-origin: center center;
     opacity: 0;
  }
  100% {
    transform: scale(1,1) rotateX(0deg);
    opacity: 1;
  }
}

@keyframes closeDialog {
  0% {
    opacity: 1;
    transform: scale(1,1) rotateX(0deg);
  }
  100% {
     transform: scale(0.5,0.5)  rotateX(-180deg);
     transform-style: preserve-3d;
     transform-origin: center center;
     opacity: 0;
  }
  
}