<div class="container">
    <div class="card">
        <img *ngIf="quiz.imageUrl" (click)="selectQuiz()" [src]="quiz.imageUrl" class="card__image" alt="image du quiz">
        <h4 class="card__title">{{quiz.name}}</h4>
        <div id="boutons">
            <a *ngIf="curStatus === 'admin'" class="button blue" (click)="editQuiz()">Edit</a>
            <a *ngIf="curStatus === 'admin'" class="button red" (click)="deleteConfirmation()">Delete</a>
            <div *ngIf="confirmationDelete" class='confirm--active'>

                <div class="confirmBox">
                    <p>Voulez-vous vraiment supprimer ce Quiz ?</p>
                    <button (click)="deleteQuiz(quiz,true)" class="btn btn__confirm">oui</button>
                    <button (click)="deleteQuiz(quiz,false)" class="btn btn__cancel">non</button>
                </div>
                <p id="response"></p>
                <a *ngIf="curStatus === 'user'" class="button white" (click)="selectQuiz(quiz)">Jouer !</a>
            </div>
        </div>
    </div>
</div>