<div id="partie_liste_theme" *ngIf="themesList">
    <div id="conteneur">
        <div id="contenu">
            <h1 class="titreTheme">
                Liste des Thèmes
            </h1>
            <div>
                <div style="display: flex; justify-content: center;">
                    <input class="form-control" type="text" name="search" [(ngModel)]="searchTheme" autocomplete="on" placeholder="Recherche de theme">
                </div>
            </div>
            <ul class="theme-list">
                <li class="theme" *ngFor="let theme of themesList | filter:searchTheme">
                    <app-theme [theme]="theme" (themeSelected)="themeSelected($event)" (themeDeleted)="themeDeleted($event)"></app-theme>
                </li>
                <li class="no-theme" *ngIf="(themesList | filter:searchTheme).length === 0 && themesList.length != 0">
                    <h3>Aucun thème correspond à vos recherches</h3>
                </li>
            </ul>
        </div>
    </div>
</div>
<div *ngIf="themesList.length == 0">
    <h1 style="font-family: 'baloo thambi' cursive;text-align: center;">Aucun thèmes pour l'instant</h1>
</div>