.theme-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

h1{
  
}

#all{
  
  background-color: steelblue;
    color:#fff;
  border-radius: 0.7em;
}


.titreTheme{
  font-weight: bold;
  text-align: center;
}
  