.theme-list {
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;

}

#partie_liste_theme{
  border-radius: 0.7em;
}


.titreTheme{
  font-weight: bold;
  text-align: center;
}
  
.no-theme{
  color: #333;
  font-family: "Baloo Thambi 2", cursive;
}