div{
    border: 1px solid black;
    padding: 15px;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#all{
    background-color: yellow;
    display: flex;
}
#infoquiz{
	font-family: "Arial Black";
    background-color: violet;
    display: flex;
    justify-content: center;
    
}


#h1{
	display: flex;
	justify-content: center;
}